<div class="dashboard-layout">
  <app-sidenav></app-sidenav>
  <div class="main-content">
    <header class="main-header">
      <button class="hamburger-btn" (click)="toggleSidenav()">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <h1 *ngIf="router.url === '/dashboard/home'">Dashboard</h1>
      <h1 *ngIf="router.url === '/dashboard/clientes'">Clientes</h1>
      <h1 *ngIf="router.url === '/dashboard/relatorios'">Relatórios</h1>
      <h1 *ngIf="router.url === '/dashboard/pagamentos'">Pagamentos</h1>
    </header>
    
    <router-outlet></router-outlet>
  </div>
</div>
